<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TshirtsGalleryActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".EditorActivity" />
        <activity android:name=".TshirtTypeChooserActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".EditImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ImageTargets"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.ui.ActivityList.ActivitySplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.ui.ActivityList.ActivityLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.ui.ActivityList.AboutScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.ImageTargets.ImageTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.ModelTargets.ModelTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.GroundPlane.GroundPlane"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.VuMark.VuMark"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.CylinderTargets.CylinderTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.VirtualButtons.VirtualButtons"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.UserDefinedTargets.UserDefinedTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.MultiTargets.MultiTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.CloudRecognition.CloudReco"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name="com.example.myapplication.CoreSamples.app.ObjectRecognition.ObjectTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            >
        </activity>
    </application>

</manifest>